.team {
    width: 100%;
    height: 400px;
    margin: 32px 0;
    text-align: center;
    background: #ffffff;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
        background: #304352;

        div {
            top: -40px;
            margin-bottom: 0px;
        }

        h2 {
            top: -10px;
        }

        p {
            color: #ffffff;
            opacity: 1;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }

    div {
        position: relative;
        top: 40px;
        display: inline-block;
        margin-bottom: 40px;
        padding: 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

    }

    h2 {
        font-weight: bold;
        position: relative;
        top: 10px;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    p {
        font-size: 18px;
        width: 80%;
        margin: 0 auto;
        opacity: 0;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}