// .navbar-default {
//   background: #ffffff;
//   box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
//   border: none;
//   margin-bottom: 0px !important;

//   .navbar-brand {
//     color: #304352;
//     font-size: 28px;
//     font-weight: bold;
//     letter-spacing: 2px;
//     margin: 0;
//   }

//   .navbar-nav {
//     li.active a span:before {
//       visibility: visible;
//       -webkit-transform: scaleX(1);
//       transform: scaleX(1);
//       background-color: #304352;
//     }
//     >li {
//       a {
//         &:hover {
//           color: #304352 !important;
//         }
//       }
//       >a {
//         &:hover,
//         &:focus {
//           color: #777;
//           background-color: transparent;
//         }
//       }
//     }

//     li {
//       a {
//         color: #777;
//         font-size: 14px;
//         font-weight: 300;
//         letter-spacing: 1px;
//         text-transform: uppercase;
//         -webkit-transition: all 0.4s ease-in-out;
//         transition: all 0.4s ease-in-out;
//         padding-right: 22px;
//         padding-left: 22px;

//         &:hover {
//           span {
//             &:before {
//               visibility: visible;
//               -webkit-transform: scaleX(1);
//               -moz-transform: scaleX(1);
//               -ms-transform: scaleX(1);
//               -o-transform: scaleX(1);
//               transform: scaleX(1);
//             }
//           }
//         }

//         span {
//           position: relative;
//           display: block;
//           padding-bottom: 2px;

//           &:before {
//             content: "";
//             position: absolute;
//             width: 100%;
//             height: 2px;
//             bottom: 0;
//             left: 0;
//             background-color: rgba(255, 255, 255, 0.5);
//             visibility: hidden;
//             -webkit-transform: scaleX(0);
//             -moz-transform: scaleX(0);
//             -ms-transform: scaleX(0);
//             -o-transform: scaleX(0);
//             transform: scaleX(0);
//             -webkit-transition: all 0.3s ease-in-out 0s;
//             -moz-transition: all 0.3s ease-in-out 0s;
//             -ms-transition: all 0.3s ease-in-out 0s;
//             -o-transition: all 0.3s ease-in-out 0s;
//             transition: all 0.3s ease-in-out 0s;
//           }
//         }
//       }
//     }
//   }



//   .navbar-default .navbar-nav .navbar-default .navbar-nav>.active>a,
//   .navbar-default .navbar-nav>.active>a:hover,
//   .navbar-default .navbar-nav>.active>a:focus {
//     color: #304352;
//     background-color: transparent;
//   }

//   .navbar-default .navbar-toggle {
//     border: none;
//     padding-top: 10px;
//   }

//   .navbar-default .navbar-toggle .icon-bar {
//     border-color: transparent;
//   }

//   .navbar-default .navbar-toggle:hover,
//   .navbar-default .navbar-toggle:focus {
//     background-color: transparent;
//   }

//   @media screen and (max-width: 768px) {

//     .navbar-default .navbar-nav li a span:before {
//       background: transparent !important;
//     }

//     .navbar-default .navbar-nav li.active a {
//       background: transparent;
//       background: none;
//       color: #304352 !important;
//     }

//     .navbar-default .navbar-nav li.active a span:before {
//       visibility: visible;
//       -webkit-transform: scaleX(1);
//       transform: scaleX(1);
//     }
//   }

/* Set min-height to avoid page reflow while session loading */
.signedInStatus {
    display: block;
    min-height: 4rem;
    width: 100%;
  }
  
  .loading,
  .loaded {
    position: relative;
    top: 0;
    opacity: 1;
    overflow: hidden;
    border-radius: 0 0 .6rem .6rem;
    padding: 5.6rem 1rem;
    margin: 0;
    background-color: rgba(0,0,0,.05);
    transition: all 0.2s ease-in;
  }
  
  .loading {
    top: -2rem;
    opacity: 0;
  }
  
  .signedInText,
  .notSignedInText {
    position: absolute;
    padding-top: .8rem;
    left: 1rem;
    right: 6.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;  
    z-index: 1;
    line-height: 1.3rem;
  }
  
  .signedInText {
    padding-top: 0rem;
    left: 4.6rem;
  }
  
  .avatar {
    border-radius: 2rem;
    float: left;
    height: 2.8rem;
    width: 2.8rem;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .button,
  .buttonPrimary {
    float: right;
    margin-right: -.4rem;
    font-weight: 500;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: .7rem .8rem;
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: #555;
  }
  
  .buttonPrimary {
    background-color: #346df1;
    border-color: #346df1;
    color: #fff;
    text-decoration: none;
    padding: .7rem 1.4rem;
  }
  
  .buttonPrimary:hover {
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.2)
  }
  
  .navItems {
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
  }
  
  .navItem {
    display: inline-block;
    margin-right: 1rem;
  }