.style1 {
    background: #ffffff;
    border-radius: 4px;
    padding: 100px;
    // position: relative;
}

.style2 {
    img {
        border: 8px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        // left: -120px;
        // bottom: -325px;
        padding: 12px;
    }
}

.style {
    img {
        border: 8px solid #ffffff;
        // position: absolute;
        width: 300px;
        height: 300px;
        // left: 1000px;
        // bottom: 325px;
        padding: 12px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

}

/* 
#about .about-img img {
  border: 8px solid #ffffff;
  position: absolute;
  left: -120px;
  bottom: -325px;
  padding: 12px;
} */