@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/scss/font-awesome.scss";
@import "styles.css";
@import "animate.min.css";
@import "component.css";




// body {
//   background: #ccc;
//   font-family: 'Source Sans Pro', sans-serif;
//   font-style: normal;
//   font-weight: 300;
//   position: relative;
// }

// html,
// body {
//   width: 100%;
//   overflow-x: hidden;
// }

// html {
//   font-size: 100%;
// }


// h1,
// h2,
// h3,
// h4 {
//   font-weight: 300;
// }

// h1 {
//   font-size: 2rem;
//   line-height: 3rem;
//   letter-spacing: 12px;
//   text-transform: uppercase;
//   padding-bottom: 8px;
// }

// h2 {
//   color: #e44c65;
//   font-size: 1.2rem;
//   font-weight: bold;
//   letter-spacing: 4px;
//   text-transform: uppercase;
// }

// h3 {
//   font-size: 14px;
//   text-transform: uppercase;
//   letter-spacing: 4px;
// }

// p {
//   color: #888;
//   font-size: 20px;
//   letter-spacing: 1px;
//   line-height: 34px;
// }

// .btn {
//   border: none;
//   border-radius: 4px;
//   transition: all 0.4s ease-in-out;

//   &:focus {
//     background: #e44c65;
//     border-color: transparent;
//   }
// }


// .btn-success {
//   background: #e44c65;
//   font-weight: 300;
//   letter-spacing: 2px;
//   padding: 14px 32px;
//   margin-top: 26px;

//   &:hover {
//     background: #222;
//   }
// }