.grid1 {
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid1 li {
	display: inline-block;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid1 figure {
	margin: 0;
	position: relative;
}

.grid1 figure img {
	width: 100%;
	max-width: 100%;
	display: block;
	position: relative;
}

.grid1 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 42px 22px;
	background: #304352;
	color: #ed4e6e;
}

.grid1 figcaption h1 {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin: 0;
	padding-bottom: 12px;
	color: #fff;
}

.grid1 figcaption small {
	font-size: 16px;
	letter-spacing: 1px;
}

.grid1 figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #e44c65;
	color: #fff;
}

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	transition: transform 1s;
}

 .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 1s, opacity 0.1s;
	-moz-transition: -moz-transform 1s, opacity 0.1s;
	transition: transform 1s, opacity 0.1s;

	display: -webkit-box;
	max-width: 38vw;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

@media (max-width: 980px) {
	.grid figcaption h1 {
		font-size: 1rem;
		line-height: 1.6rem;
	}
	.grid figcaption {
		padding: 22px 18px;
	}
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
